<div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                {{ itc?.name }}
            </h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="itcDetailsModal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <div class="p-6 space-y-6">
            <div class="mb-3 flex items-center">
                <div [style.background-color]="colors[itc?.type ?? '']?.color"  class="w-3 h-3 bg-gray-300 mr-2 rounded-full"></div>
                <div class="text-gray-600 text-md mr-3">{{ itc?.type }}</div>
                <div class="text-gray-400 text-md">#{{ itc?.externalId }}</div>
            </div>
            <div class="mb-3 text-md font-normal text-gray-700 dark:text-gray-400">{{ itc?.description }}</div>
            <div class="space-y-3">
                <div class="text-sm font-normal text-gray-700 dark:text-gray-400 flex justify-between items-start">
                    <div>Product Family</div>
                    <div>{{ itc?.product_family }}</div>
                </div>
                <div class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400 flex justify-between items-start">
                    <div>TBM Category</div>
                    <div>{{ itc?.tbm_category }}</div>
                </div>
                <div *ngIf="itc?.version" class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400 flex justify-between items-start">
                    <div>Version</div>
                    <div>{{ itc?.version }}</div>
                </div>
                <div *ngIf="itc?.edition" class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400 flex justify-between items-start">
                    <div>Edition</div>
                    <div>{{ itc?.edition }}</div>
                </div>
            </div>
        </div>
    </div>
</div>