
<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam maiores voluptates quisquam necessitatibus accusamus incidunt repudiandae sed error magni blanditiis voluptatem sequi obcaecati voluptate ipsam, vel soluta, veniam inventore cupiditate.
</p>
<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam maiores voluptates quisquam necessitatibus accusamus incidunt repudiandae sed error magni blanditiis voluptatem sequi obcaecati voluptate ipsam, vel soluta, veniam inventore cupiditate.
</p>